html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html, body {
    margin: 0;
}

body {
    /* width: 100vw;
    height: 100vh; */
    min-width: 500px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 350px;
    height: 550px;
    background-color: rgb(48, 48, 48);
    border: solid rgb(48, 48, 48) 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#display {
    height: 125px;
    border: solid black 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    word-wrap: anywhere;
    background-color: rgb(175, 175, 175);
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#operations {
    height: 425px;
    border: solid black 2px;
    display: flex;
    border-radius: 10px;
    /* background-color: rgb(77, 115, 187); */
    background-color: black;
}

button {
    min-width: 70px;
    flex: 1;
    margin: 1px;
    font-size: large;
    border: solid black 1px;
    border-radius: 5px;
    cursor: pointer;
}

#digits {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 250px;
}

#operators {
    display: flex;
    flex-wrap: wrap;
    width: 100px;
}

/* button.digit-0 {
    flex-grow: 2.25;
} */

button.clear,
button#operator-ac {
    background-color: rgb(240, 100, 100);
}

button.digit {
    background-color: beige;
}

button.operator {
    background-color: rgb(178, 245, 169);
    /* background-color: rgb(194, 240, 252); */
}

button.decimal {
    background-color: rgb(238, 211, 162);
}